<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                欢迎访问SSO服务中心
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                点击查看
                <a href="~/.well-known/openid-configuration">发现文档</a>，
                你能在这里找到相关的元数据和终端信息。
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                点击 <a href="~/grants">此处</a> 查看和管理你保存的授权信息。
            </p>
        </div>
    </div>

    @*<div class="row">
        <div class="col-sm-8">
            <p>
                Here are links to the
                <a href="https://github.com/identityserver/IdentityServer4">source code repository</a>,
                and <a href="https://github.com/identityserver/IdentityServer4.Samples">ready to use samples</a>.
            </p>
        </div>
    </div>*@

</div>
