@{
    ViewData["Title"] = "ConfirmForbid";
    ConsentInputModel model = TempData["ConsentInputModel"] as ConsentInputModel;
}

@if (model == null)
{
    <p class="text-danger">ConsentInputModel不能为空</p>
    <p>请联系网站管理员解决</p>
}
else
{
    <h2>确认拒绝</h2>

    <div>
        <p>要求访问你的部分信息，但是你拒绝了</p>
        <p>你已经拒绝了<span></span></p>
    </div>
}

