
@{
    ViewData["Title"] = "导入用户";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div>
    导入用户，用户名为工号，用户密码为身份证
</div>
<form asp-action="ImportUser">
    <input type="file" />
    <input type="submit" value="提交" />
</form>
